@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";



@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.4s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}




.qr-scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

button.btn-primary {
  padding: 8px 16px;
  background-color: #2c7be5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

button.btn-primary:hover {
  background-color: #1b5fc4;
}

/* Style de la scrollbar */
.scrollable::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Fond de la scrollbar */
.scrollable::-webkit-scrollbar-track {
  background: none;
}

/* Curseur de la scrollbar */
.scrollable::-webkit-scrollbar-thumb {
  background-color: #c4c4c4; /* violet */
  border-radius: 6px;
}

/* Curseur au hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #9e9d9e;
}
